main {
  float: left;
  display: block;
  margin-left: 17%;
  margin-right: 17%;
  width: 66%;
  clear: both;
}

header {
  display: block;
  margin-left: 17%;
  margin-right: 17%;
  width: 66%;
  clear: both;
}

div.center {
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

img {
  padding-right: 10%;
  padding-left: 10%;
}
